.graph-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width:992px) {
    .graph-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 70px;
        margin: 0 40px;
    }
}

@media (max-width:576px) {
    .graph-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 80px;
        margin-left: 0;
    }

    .hw-reset-container {
        width: 500px;
        height: 40%;
    }
}